.footer{

    background-color:lightcyan;
    
    
 }
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 3rem;
 
 }
 .footer .box-container .box a{
    color: rgb(39, 39, 34) ;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
 
 
 }
 .footer .box-container .box a i{
    color: rgb(21, 21, 46);
    padding-right: .5rem;
    transition: .2s linear;
 
 }
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }

 /* .footer .credit{
   text-align:center;
   padding-top: 3rem;
   margin-top: 3rem;
   font-size: 2rem;

 } */